.header {
    border-bottom: 1px solid #FFFFFF;
}

.header__wrappper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 30px 0;

    @media screen and (min-width: 1020px) {
        flex-direction: column;
    }

}


.header_menu {
    display: flex;
    gap: 40px;
}


@media screen and (max-width: 800px) {
   .header__menu {
        display: flex;
        flex-direction: column;
    } 
}


.header__menu__item a {
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__nav__svg-u {
    width: 28px;
    height: 19px;
}

.header__nav__svg-vk {
    width: 24px;
    height: 14px;
}


