.section-photo {
    padding: 150px 0 0;
}

.section-photo__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.section-photo__item {
    position: relative;
    margin: 12px;
    border: 1px solid #F7ECE1;
    padding: 25px 20px;
}


.section-photo__text {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
   
    top: 328px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 140%;

    text-align: center;


    color: #fff;

}